.cardProduct {
  width: 175px;
  height: 62%;
  background-color: #FFFFFF;
  cursor: pointer;
  margin: 15px;
  

  .image {
    width: 92%;
    margin: 7px auto;
    height: 200px;
    background-size: cover;
    background-repeat: none;
    background-position: center;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .company {
    width: 120px;
    font-size: 11px;
    padding: 2px;
    color: #fd71ac;
    margin-left: 5px;
    border: 1px solid #fd3794;
  }

  &__inf {
    width: 92%;
    margin: 5px auto;
    .rating-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 10px;
    }
    
    .rating-value {
      grid-column: 2 / 3;
      margin-top: 7px;
      text-align: left;
    }
    p {
      display: -webkit-box;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      /* số dòng hiển thị */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: auto;
      height: 20px;
    }

    .address {
      p {
        margin-top: 10px;
        font-weight: 60;
      }
      a {
        font-size: 14px;
        display: -webkit-box;
      
      
        line-height: 1.3;
        -webkit-line-clamp: 2;
        /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: auto;
        height: 38px;
      }
    }

    .bx bxs-plus-circle {
      font-size: 100px !important;
      padding: 5px;
      background: var(--primary-color);
      color: #fff;
      border-radius: 50px;
    }
  }

  &:hover {
    box-shadow: 0px 0px 0.9px -7px rgba(0, 0, 0, 0.216),
      0px 0px 2.5px -7px rgba(0, 0, 0, 0.31),
      0px 0px 6px -7px rgba(0, 0, 0, 0.404),
      0px 0px 20px -7px rgba(0, 0, 0, 0.62);
    margin-top: 12px;
    margin-bottom: 18px;
    transition: 150ms;
  }
}