.cartall {
  display: flex;
  justify-content: space-between;
  margin-top: -150px;
}

.cartall .col-9 {
  width: 90%;
  padding-right: 30px;
}

.cartall .col-9 .table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
}

.cartall .col-9 .table th,
.cartall .col-9 .table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  width: 55vw;
    height: 10vh
}

.cartall .col-9 .table th {
  background-color: #f8f8f8;
  font-weight: bold;
  font-size: 16px;
}

.cartall .col-9 .table td img {
  max-width: 100%;
  height: auto;
}

.cartall .col-9 .table td:nth-child(2) {
  text-align: left;
}

.cartall .col-9 .table td:nth-child(3) {
  font-weight: bold;
}

.cartall .col-9 .table td:nth-child(4) {
  font-weight: bold;
}

.cartall .col-9 .table td:nth-child(5) {
  font-weight: bold;
}

.cartall .col-9 .table td:last-child {
  width: 20px;
}

.cartall .col-9 .table .ri-delete-bin-line {
  color: #dc3545;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cartall .col-9 .table .ri-delete-bin-line:hover {
  transform: scale(1.2);
}

.cartall .col-3 {
  width: 20%;
}

.cartall .col-3 h6 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cartall .col-3 .fs-6 {
  margin-top: 10px;
}

.buy__btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 0 2px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy__btn:hover {
  background-color: #0062cc;
}

.buy__btn a {
  color: #fff;
  text-decoration: none;
}

.fs-4 {
  font-size: 24px;
  margin-bottom: 20px;
}
