.container {
  background-color: #fafafa;
  width: 100%;
  .Home_content {
    width: 100%;
    padding-top: 15px;
    margin: auto;
    max-width: 2080px;
    .banner {
      padding-top: 50px;
      width: 100%;
      margin: auto;
      z-index: -10;
      display: flex;
      margin-bottom: -90px;
      .ct1{
        margin-left: 60px;
        width: 20%;
        height: auto;
      }
      .bn1{
        margin-top: 5px;
        width:70%;
        height: 500px;
      }
    }
    .carousel {
      width: 83%;
      margin: 10px auto;
    }
    .Content {
      width: 100%;
      margin: 20px auto;
      &_1 {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
