.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contentWidth {
  width: 100%;
}
.category1 {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 15px;
}
.category1 img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}
.category1 span {
  margin: 10px 20px;
  text-transform: capitalize;
}
.category1 .box {
  transition: 0.5s;
  padding: 0 20px;
}
.category1 .box:hover {
  background-color: #ffe1e6;
  cursor: pointer;
}
.catgrories3 {
  margin-left:40px;
}
.catgrories3 .icon{
  font-size: 30px;
  margin-left:10px;
 
}
.catgrories3 .icon1{
  font-size: 20px;
  margin-left:20px;
}
/*---------category----------*/
/* .btn-primary {
  background: #e94560;
  padding: 13px 40px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}
.top {
  margin-top: 80px;
}
.mtop {
  margin-top: 40px;
}
.heading i {
  color: #e94560;
  margin: 10px;
}
.discount {
  position: absolute;
  top: 0;
  left: 0;
  background: #e94560;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
} */
