.row2{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}
  .userad{
    width: 40%;
    margin-left: -50px;
  }
  .content1{
    width: 95%;
    margin: 20px auto;
  }
  .table {
    border-collapse: collapse;
    width: 95%!important;
    margin-left: 100px;
    font-size: 14px;
  }
  .main-content{
    width: 100vw!important;
    padding-left: 290px!important;
    background-color: #f7f7f7!important;
  }
  .table td,
  .table th {
    padding: .75rem!important;
    vertical-align: top!important;
    border-top: 1px solid #dee2e6!important;
    line-height: 0.5!important;
    font-size: 17px!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    overflow: hidden!important;
    max-width:  400px!important;
    text-align: center;
    transform: translateY(10px)!important;

   
  }
  .btn{
    transform: translateY(-20px)!important;
    
  }
  .table th {
    text-align: inherit;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #f1f1f1;
  }
  
  .table tbody {
    background-color: #fff;
  }
  
  .table tbody+tbody {
    border-top: 2px solid #dee2e6;
    background-color: #f9f9f9;
  }
  
  td:nth-child(4) {
    text-align: center;
  }
  
  .btn-danger {
    margin-bottom:10px;
    width: 50px;
    border-radius: 10%;
    height: 30px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    color: #fff;
    cursor: pointer;
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }
  
  .py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  
  .text-center {
    text-align: center !
  
  }
  
  .fw-bold {
    font-weight: 700 !important;
  }
  