.option {
    width: 20%;
    display: flex;
    margin: 5px 10px;
    z-index: 60;
    
    &_icon {
      width: 19px;
      margin: 5px 12px;
      margin-right: 5px;
      cursor: pointer;
      position: relative;
      .cart{
        .badge {
          font-size: 13px;
          position: absolute;
          top: -10px;
          right: -13px;
          background: linear-gradient(96.85deg, #fd37ae 0%, #fd374f 100%);
          color: white;
         text-align: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      }
      .menuCart{
        display: none;
        margin-right: 5px;
      }
      .amountProduct {
        position: absolute;
        background-color: #fe3877;
        font-size: 10px;
        height: 16px;
        width: 16px;
        border-radius: 10px;
        line-height: 17px;
        text-align: center;
        color: #fff;
        right: -7px;
        top: -1px;
      }
    }
  }
  .phantu {
    position: relative;
    
    i{
      color:gray;
    }
    .bottom {
      width: 200px;
      position: absolute;
      margin-top: -20px;
      left: -100px;
      transition: 0.1s;
      visibility: hidden;
      opacity: 0;
      z-index: 999;
  
      &::before {
        content: "";
        width: 0px;
        height: 0px;
        border: 10px solid  transparent;
        border-bottom-color: #eaeced;
        position: absolute;
        top: -32px;
        right: 85px;
        
        
      }
  
      p {
        display: block;
        text-decoration: none;
        background-color: white!important;
        color: black;
        font-size: 14px;
        margin-top:-14px;
        padding: 10px 0;
        padding-left: 20px;
        border-bottom: 1px solid  white;
  
        &:hover {
          background-color: rgb(224, 229, 217)!important;
          color: red;
          // z-index: 100;
        }
      }
    }
    &:hover .bottom {
      visibility: visible;
      top: 70px;
      transition: 0.3s;
      opacity: 1;
      
     
      box-shadow: rgba(247, 247, 248, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 10px 20px;
    }
  }
  .cart:hover > .menuCart{
    // background-color: rebeccapurple;
    display: block;
    
    
  }
  